* {
  margin: 0;
  padding: 0;
}
#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../../public/background.jpg");
  overflow: hidden;
}
.navbar {
  position: relative;
  float: right;
  display: flex;
  z-index: 1;
  opacity: 0;
  animation: navbar-open ease-in-out forwards 1s;
  animation-delay: 2s;
}
@keyframes navbar-open {
  0% {
    transform: translate(-20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
.navbar a {
  outline: none;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}
@media (min-width: 700px) {
  .navbar .link {
    display: flex;
  }
  .navbar .menu {
    display: none;
  }
}
@media (max-width: 700px) {
  .navbar .link {
    display: none;
  }
  .navbar .menu {
    display: flex;
    font-size: 30px;
  }
}
.fullPage {
  z-index: 1;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  animation: open-menu forwards 1s;
}
@keyframes open-menu {
  0% {
    opacity: 0;
    transform: translate(0%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.fullPage .link {
  justify-content: center;
  display: flex;
  padding: 5vh;
  width: 30%;
  font-size: 30px;
}
.navbar a:hover a {
  transition: ease-in 0.4s;
  background-color: turquoise;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.about p {
  opacity: 0;
  animation: open ease-in-out forwards 1s;
}
.about p:nth-child(1) {
  animation-delay: 1s;
}
.about p:nth-child(3) {
  animation-delay: 1.5s;
}
.contact {
  opacity: 0;
  animation: open ease-in-out forwards 1s;
}

section .contact {
  margin-top: 25vh;
  opacity: 0;
  animation: open ease-in-out forwards 1s;
}

.logo {
  opacity: 0;
  animation: open ease-in-out forwards 1s;
  animation-delay: 3s;
}
.logo img {
  height: 5vh;
  min-height: 20px;
  padding: 10px;
}
.main {
  position: relative;
  top: 40px;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section h1 {
  animation: open ease-in-out forwards 1.5s;
}
section h1 {
  padding: 20px;
}
.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-title {
  opacity: 0;
  font-size: 50px;
  text-transform: uppercase;
  animation-delay: 1s;
}
.project-sender-button {
  height: 5vh;
  opacity: 0;
  border: solid 1px white;
  animation: open 1s forwards;
  animation-delay: 1.5s;
  cursor: pointer;
}
.project-sender-button:hover {
  background-color: white;
  box-shadow: 0 0 10px white;
  color: black;
  transition: 0.5s;
}
.project-sender-button p {
  transform: translate(0, 50%);
}
@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
button {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  margin: 15px;
  background: transparent;
  outline: transparent;
  border: transparent;
  cursor: pointer;
  animation: grow 1s forwards;
  align-items: center;
}

button:hover {
  background-color: white;
  background-size: 200px;
  box-shadow: 0 0 10px white, 0 0 80px white;
  transition: 0.5s;
}
button img {
  width: inherit;
  max-width: 20vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 20vw;
  }
}
.project-box {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 10vh;
}
@media (min-width: 700px) and (min-height: 500px) {
  .project-introduction {
    width: 50vw;
    opacity: 0;
    transform: translate(-20%, 0);
    transition: 1s;
  }
  .project-box:hover .project-introduction {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 700px), (max-height: 500px) {
  .project-introduction {
    width: 50vw;
    animation: open 1s forwards;
  }
  button {
    width: 20vw;
    animation: open 1s forwards;
  }
  .main {
    height: 90vh;
    position: absolute;
    top: 40px;
    overflow-y: scroll;
    justify-content: initial;
  }
  .project-box {
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    align-items: center;
  }
  .project-box:nth-child(3) {
    flex-direction: column-reverse;
  }
  .center {
    top: initial;
    left: 10vw;
    right: 10vw;
    transform: initial;
  }
  .project-sender-button {
    font-size: 10px;
  }
}
.back-button {
  opacity: 0;
  top: 10vh;
  color: color;
  text-shadow: 0 0 2px white;
  font-size: 15px;
}
.group-button:hover .back-button {
  animation: open 1s forwards;
}
